[class^="icon-"], [class*=" icon-"],
[class^="fa-"], [class*=" fa-"]{
	font-family: FontAwesome
}
.App-panel-body {
	background-image: url(../../ext/classic/resources/images/square.gif)
}
#app-header-logo {
	background-repeat:no-repeat;
	background-image: url(../images/logo.png);
	background-size:58px 35px;
	background-position:center;
	height: 40px;
	width: 60px;
}
#historyFormState label, #historyFormState label span {
	width: 38px !important;
}
#historyFormJobName label, #historyFormJobName label span {
	width: 68px !important;
}
#traceRadiofieldWidth label, #traceRadiofieldWidth label span {
	width: 72px !important;
}
#startTimeWidth .x-form-text-field-body-default, #endTimeWidth .x-form-text-field-body-default {
	min-width: 0;
}