body {
  width: 100%;
  height: 100%;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: auto;
  background-color: #e7f1fb;
  background-size: 100% 100%;
  /*改变input-placeholder提示字体的颜色*/
}
body .login {
  position: relative;
  width: 100%;
  height: 100%;
}
body .login .login-hidden {
  display: none;
}
body .login .login-Mint {
  position: relative;
  width: 100%;
  height: 87%;
}
body .login .login-Mint .Mint-bgc {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background: url('../images/login_w.png') no-repeat;
  background-size: 100% 100%;
}
body .login .login-Mint .login-Content {
  position: absolute;
  top: 18%;
  width: 100%;
  margin: 0 auto;
  background-size: 100% 100%;
}
body .login .login-Mint .login-Content .Content-W {
  margin-top: 80px;
  width: 100%;
  height: 116px;
  padding-left: 18%;
  font-size: 0;
  background: url('../images/nav_w.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
body .login .login-Mint .login-Content .Content-W .W-left {
  float: left;
  margin-right: 50px;
}
body .login .login-Mint .login-Content .Content-W .W-left .W-dl {
  margin-top: 50px;
  margin-right: 32px;
}
body .login .login-Mint .login-Content .Content-W .W-left .W-login {
  margin-top: 32px;
}
body .login .login-Mint .login-Content .login-Validation {
  float: left;
  margin-top: -80px;
  width: 393px;
  height: 312px;
  padding-top: 84px;
  background: url('../images/login_bg.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
body .login .login-Mint .login-Content .login-Validation .from {
  position: relative;
  padding: 0 24px;
  box-sizing: border-box;
}
body .login .login-Mint .login-Content .login-Validation .from .name,
body .login .login-Mint .login-Content .login-Validation .from .pass {
  display: block;
  width: 344px;
  height: 46px;
  padding-left: 112px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
body .login .login-Mint .login-Content .login-Validation .from .code {
  padding-right: 134px;
}
body .login .login-Mint .login-Content .login-Validation .from .getCode {
  position: absolute;
  box-sizing: border-box;
  top: 56px;
  right: 28px;
  z-index: 10;
  width: 130px;
  height: 46px;
  text-align: center;
  color: #0977c2;
  line-height: 44px;
  font-size: 13.3333px;
  cursor: pointer;
}
body .login .login-Mint .login-Content .login-Validation .from .no-drop {
  cursor: no-drop;
  pointer-events: none;
}
body .login .login-Mint .login-Content .login-Validation .from .nameIcon,
body .login .login-Mint .login-Content .login-Validation .from .passIcon,
body .login .login-Mint .login-Content .login-Validation .from .verificationCodeIcon {
  position: absolute;
  margin-top: 5px;
  width: 70px;
  height: 36px;
  border-right: 1px solid #30a1ee;
  cursor: pointer;
}
body .login .login-Mint .login-Content .login-Validation .from .nameIcon {
  background: url('../images/icon_user.png') no-repeat center;
}
body .login .login-Mint .login-Content .login-Validation .from .passIcon,
body .login .login-Mint .login-Content .login-Validation .from .verificationCodeIcon {
  background: url('../images/icon_pwd.png') no-repeat center;
}
body .login .login-Mint .login-Content .login-Validation .from .verificationCode {
  display: inline-block;
  width: 254px;
  height: 46px;
  border-radius: 4px;
  padding-left: 112px;
  box-sizing: border-box;
}
body .login .login-Mint .login-Content .login-Validation .from .img-VerificationCode {
  float: right;
  display: inline-block;
  width: 76px;
  height: 46px;
  font-size: 0;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
  -webkit-user-select: none;
}
body .login .login-Mint .login-Content .login-Validation .from .img-VerificationCode span {
  font-size: 22px;
  font-weight: 700;
}
body .login .login-Mint .login-Content .login-Validation .from .isName {
  display: none;
}
body .login .login-Mint .login-Content .login-Validation .from .isName + .isTrue {
  background-color: white;
  border: 1px solid #d3d3d3;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  margin: 10px 12px 10px 14px;
  cursor: pointer;
}
body .login .login-Mint .login-Content .login-Validation .from .isName:checked + .isTrue {
  background-color: #eee;
  border: 1px solid #000;
}
body .login .login-Mint .login-Content .login-Validation .from .isName:checked + .isTrue:after {
  content: "√";
}
body .login .login-Mint .login-Content .login-Validation .from .isTrue-Color {
  color: #419ade;
  vertical-align: middle;
}
body .login .login-Mint .login-Content .login-Validation .from .submit {
  margin: 16px auto;
  display: block;
  width: 100%;
  height: 48px;
  background-color: #30a1ee;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  border-radius: 4px;
  cursor: pointer;
}
body .login .login-Mint .login-Content .login-Validation .from .other-login {
  color: #fff;
  text-align: right;
}
body .login .login-Mint .login-Content .login-Validation .from .other-login span {
  cursor: pointer;
}
body .login .trademark {
  width: 100%;
  position: absolute;
  bottom: 6%;
  font-size: 24px;
  text-align: center;
  color: #0977c2;
}
body ::-webkit-input-placeholder {
  color: #0977c2;
}
/*# sourceMappingURL=login.css.map */